doctype !!! 5
html
  link(href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
  link(rel='stylesheet', href='/stylesheets/Contact.css')

  head
    title Jordan Service Programming
  #header
  

    h1 Jordan Service
    ul#menu
      li.home
        a(href='/') HOME
      li.proj
        a(href='/Contact') CONTACT
      li.Cv
        a(href='/images/JordanServiceCV.pdf') RESUME



  body
    block body

script(src="/javascripts/Script.js")