doctype !!! 5
html
  link(href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
  link(rel='stylesheet', href='/stylesheets/Contact.css')

  head
    title Jordan Service Programming
  #header
  

    h1 Jordan Service
    ul#menu
      li.home
        a(href='/') HOME
      li.proj
        a(href='/Contact') CONTACT
      li.Cv
        a(href='/images/JordanServiceCV.pdf') RESUME



  body
    block body
      ul#Buttons
        li.git
          a(href='/git')
            img.git(src='/images/Polygon/github2-dreamstale35.png', alt= "Git")
        li.facebook
          a(href='/facebook')
              img.git(src='/images/Polygon/facebook-dreamstale25.png', alt= "Facebook")
        li.twitter
          a(href='/twitter')
            img.git(src='/images/Polygon/twitter-dreamstale71.png', alt= "Twitter")
        li.mail
          a(href='mailto:jmservic@ualberta.ca')
            img.git(src='/images/Polygon/mail-dreamstale47.png', alt= "Twitter")



script(src="/javascripts/Script.js")