extend layout

block body
	#ScrollHider
			h2
				img.profile(src='/images/profile.png', alt='Smiley face', height='250', width='250')
				p.name Jordan Service
				img.under(src='/images/under.png', alt='-------------')
				p.skills JAVA &#8226 C &#8226 PYTHON &#8226 HTML &#8226 CSS &#8226 JADE <br> ANDROID &#8226 SQL &#8226 NODE.
				img.under2(src='/images/under.png', alt='-------------')
				p.proj PROJECTS
				#Block2
					h3
						p.tonight Tonight
						p.tonightInfo Android Nightlife Application
						img.profile(src='/images/tonightScreen.png', alt='Smiley face', height='300', width='150')
						a(href='/git')
							img.git(src='/images/Polygon/github2-dreamstale35.png', alt= "Git", height='50', width='50')
					h4
