doctype !!! 5
html
  link(rel='stylesheet', href='/stylesheets/Site.css')
  link(href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')

  head
    title Jordan Service Programming
  #header
    #Buttons
      #Facebook
        a(href='facebook')
          img(src='images/Polygon/facebook-dreamstale25.png',width="40", height="40", border='0', alt='Link to this page')
      #Twitter
        a(href='twitter')
          img(src='images/Polygon/twitter-dreamstale71.png',width="40", height="40", border='0', alt='Link to this page')
      #GitHub
        a(href='git')
          img(src='images/Polygon/github2-dreamstale35.png',width="40", height="40", border='0', alt='Link to this page')




    h1 Jordan Service
    ul#menu
      li.home
        a(href='Home.html') Home
      li.proj
        a(href='Projects.html') Projects
      li.Cv
        a(href='/images/JordanServiceCV.pdf') CV



  body
    h1 Hello #{name}

script(src="/javascripts/Script.js")